{% extends 'main/primary.html' %}
{% block altair %}

<style>
    .hello-msg{
      font-size:18px;
      color:#fff;
      margin-right: 20px;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-dark food-dark">
      <a class="navbar-brand" href="#">FSR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'main:dash' %}">dash</a>
          </li>
        </ul>
      </div>
      <span class="hello-msg"> Welcome, {{user.username}} </span>
      <a class="hello-msg" href="{% url 'main:logout' %}">Logout</a>
    </nav>
      
    
    
                    <p>"Nada es verdad todo esta permitido"</p>
      <span class="recipe"> Idle Calorie Burn: {{idle}} kCal</span>
			<br>
			<span class="recipe"> Activity Calorie Burn: {{ex}} kCal</span>
			<br>
			<span class="recipe"> Total Calorie Burn: {{tot}} kCal</span>
			<br>
			<span class="recipe"> Calorie for breakfast/dinner (30%): {{Break}} kCal</span>
			<br>
			<span class="recipe"> Calorie for lunch (40%): {{Lunch}} kCal</span>
			<br>
				
{% endblock %}