<div class="container">
      <div class="card">
        <div class="card_title">
          <h1>Create Account</h1>
          <span>Already have an account? <a href="signup page">Sign In</a></span>
        </div>8                                   
        <div class=" align="center>                                                                 
        <form action="/register" method="post">
          <input type="text" name="username" id="username" placeholder="UserName" />
          <i class="fas fa-user"></i>
          <input type="email" name="email" placeholder="Email" id="email" />
          <input type="password" name="password" placeholder="Password" id="password" />
          <button>Sign Up</button>
          </form>
       <div class="card_terms">
          </div>
           <input type="checkbox" name="" id="terms"> <span>I have read and agree to the <a href="">Terms of Service</a></span>
        </div>
      </div>
    </div>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    